@media (max-width: 576px) {
main {
  align-items: normal;
}

p {
  font-size: 16px;
}


.container-results {
  flex-direction: column;
  box-shadow: none;
  border-radius: 0px 0px 30px 30px;
}

.container-results > .results {
  border-radius: 0px 0px 30px 30px;
  /* width: 375px; */
  height: 356px;
  width: 100%;
}

.results > .result-panel {
  width: 140px;
  height: 140px;
  margin-top: 25px;
  margin-bottom: 28px;
}

.results > h2 {
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 26px;
}

.results > h3 {
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 9px; 
}

.result-panel > .result-number {
  font-size: 55px;
}

.summary {
  width: 100%;
  /* width: 375px; */
  padding-inline: 30px;
}

.summary > h2 {
  margin-top: 25px;
  margin-bottom: 23px;
  font-size: 18px;
}

.results-summary {
  display: grid;
  grid-template-rows: repeat(4, 55px);
  gap: 17px;
  width: 315px;
}

.container-summary > p:nth-child(2n) {
  font-size: 18px;
}

button {
  margin-top: 25px;
  padding: 17px;
  width: 315px;
  font-size: 18px;
}

}